<div class="row footer-row light">
  <div class="copyright-footer">
    <a href="/privacy" target="_blank">Privacy</a>
    <span style="margin: 0px 6px 0px 4px;">|</span>
    <a href="/terms" target="_blank">Terms of Use</a>
    <span style="color: #8E8E8E">© 2017</span>
    <span style="margin: 0px 6px 0px 4px;">|</span>
    <a href="http://facebook.com/wearehighlyeffective.website" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <span style="margin: 0px 6px 0px 4px;">|</span>
    <a href="https://twitter.com/wearehighlyeffective.website" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <span style="margin: 0px 6px 0px 4px;">|</span>
    <a href="https://www.instagram.com/wearehighlyeffective.website" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
</div>