<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="light main-title">In one step, you are on a date with the truth</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <ul class="light index-list">
        <li>
          <i class="ion-checkmark"></i>I get secret messages from your colleagues frankly</li>
        <li>
          <i class="ion-checkmark"></i>Know your advantages and disadvantages, and what people think about you</li>
        <li>
          <i class="ion-checkmark"></i>Strengthen your personality by knowing reality away from hypocrisy</li>
        <li style="color: #00B050">
          <span class="online" style="background: #00B050;margin: 0 0 0 9px;float: none; display: inline-block;top: 1px;"></span>Enter direct conversations with your friends in confidence</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="margin-bottom: 100px;">
      <h4 style=" display: block; text-align: center; color: #5570cc; ">Face the frankness that hid you from the courtesies</h4>
      <a href="/register" style="margin-top: 30px;" class="sign-button home-btn light">start now</a>
    </div>
  </div>
</div>