<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="goldminer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Frankly</title>
</head>

<body>
  <header>
    Header
  </header>
  <div id="main" style="border: 1px solid #dedede;">
    <%- body %>
  </div>
  <footer>
    Footer
  </footer>
  <%- script %>
</body>

</html>