<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="goldminer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Frankly</title>

  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>
  <header id="site-header">
    <% include partials/header %>
  </header>
  <div id="site-content" role="main">
    <%- body %>
  </div>
  <style>
    .footer-mobile,
    footer {
      display: initial;
    }
    @media screen and (max-width: 767px) {
      .navbar-fixed-top {
        position: absolute!important;
      }
    }
  </style>
  <footer class="hidden-xs navbar-fixed-bottom" id="site-footer" role="contentinfo">
    <% include partials/footer %>
  </footer>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-filestyle.min.js"></script>
  <%- script %>
</body>

</html>