<div class="container-fluid profile-header">
  <div class="row">
    <div class="avatar fitbg" style="background:url(/img/default.gif)"></div>
    <% if (user.fullname) { %>
    <h1 class="light username fr"><%= user.fullname %></h1>
    <% } %>
    <h4 class="light sub-username">I encountered frankness</h4>
  </div>
</div>
<% if (isReSend) { %>
  <div class="container-fluid" id="resend-msg-container">
    <div class="row profile-content messagesendarea">
      <h1 id="messageh1" class="light last-message hidden-xs">write a message</h1>
      <% if (success) { %>
        <div id="results">
          <div class="alert alert-success alert-dismissible" role="alert" id="alertmsg">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span>
            </button>Message sent successfully</div>
        </div>
        <% } %>
    </div>
    <div class="buttons" style="display: block;">
      <div class="share-box col-xs-12" style="max-width: 460px; text-align: center;">
        <div class="col-xs-6">
          <a href="" class="share-social btns-blue btn-new-message">new message
            <i class="icon ion-plus fright"></i>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="/register" class="share-social btns-blue">Create an account
            <i class="icon ion-person fright"></i>
          </a>
        </div>
      </div>
    </div>
    <% if (message) { %>
      <div id="result">
        <div class="alert alert-info message-alert" role="alert" style="margin-top: 20px;">
          <span class="messagespan" id="resultmsg">
            <%= message %>
          </span>
          <div class="info">
            <span class="pull-right" style="color: #A68402">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>Anonymous</span>
          </div>
        </div>
      </div>
      <% } %>
  </div>
<% } else{ %>
  <div class="container-fluid"  id="new-msg-container">
    <div class="row profile-content messagesendarea">
      <h1 id="messageh1" class="light last-message hidden-xs">write a message</h1>
      <div id="results">
      </div>
      <form action="/" id="sendmsg" method="post" accept-charset="utf-8" style="width: auto; overflow: hidden;">
        <input type="text" name="type" value="send-msg" hidden>
        <textarea class="textarea" required="" placeholder="Write your message here .." rows="3" name="textmessage" id="textmessager"
          style="z-index: auto; position: relative; line-height: 22.8571px; font-size: 16px; transition: none; background: transparent !important;"
          required></textarea>
        <div class="subtextarea">
          <span class="">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Anonymous</span>
          <span class="pull-left" style="color: #acc3e0">The message is published in secret</span>
        </div>
        <label class="webfont_paperplane">
          <input type="submit" name="send" value="Send" class="light message-submit" id="message-submit">
        </label>
        <div class="spinnermsg hidden_elm">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </form>
    </div>
    <div class="buttons">
      <div class="share-box col-xs-12" style="max-width: 460px; text-align: center;">
        <div class="col-xs-12">
          <a onclick="location.reload()" class="share-social btns-blue">new message
            <i class="icon ion-plus fright"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="result" class="hidden_elm">
      <h1 class="light last-message hidden-xs">Message text</h1>
      <div class="alert alert-info message-alert" role="alert" style="margin-top: 20px;">
        <span class="messagespan" id="resultmsg"></span>
        <div class="info">
          <span class="pull-right" style="color: #07897F">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>Anonymous</span>
        </div>
      </div>
    </div>
  </div>
<% } %>
<script>
  $(document).on('click', '.btn-new-message', function () {
    $('#resend-msg-container').hide();
    $('#new-msg-container').show();
  });
</script>