<div class="container-fluid profile-header">
  <div class="row">
    <% if (user.picture) { %>
      <div class="avatar fitbg" style="background:url(<%= user.picture %>)"></div>
    <% } else { %>
      <div class="avatar fitbg" style="background:url(/img/default.gif)"></div>
    <% } %>
    <div class="form-container container">
      <div class="row">
        <div class="register" style="max-width: 150px; margin: 0 auto;">
          <form action="/profile" enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input class="filestyle" data-input="false" style="width: 0px; position: absolute; clip: rect(0px, 0px, 0px, 0px);" name="img" id="filestyle-0" tabindex="-1"
              type="file">
            <input name="send" value="change_photo" class="btnsubmit light" style="margin: 0!important;" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <% if ( error.length > 0 ) { %>
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <p>
            <%= error %>
          </p>
        </div>
      </div>
    <% } %>
    <div class="col-md-12 form-box">
      <p style="font-size: 25px; text-align: center; margin-top: 30px;">Modify the data</p>
      <div class="form-container container">
        <div class="row">
          <div class="register">
            <form action="/profile" method="post" accept-charset="utf-8">
              <label>Full name</label>
              <% if (user.fullname) { %>
                <input name="fullname" value="<%= user.fullname %>" type="text" required>
              <% } else { %>
                <input name="fullname" value="" type="text" required>
              <% } %>
              <label>E-mail</label>
              <% if (user.email) { %>
                <input readonly="" disabled="" style="background:#d4d4d4" value="<%= user.email %>" type="email">
              <% } else { %>
                <input readonly="" disabled="" style="background:#d4d4d4" value="" type="email">
              <% } %>
              <br>
              <span style="color: red;">You can not change e-mail</span>
              <label>Current password</label>
              <input value="" name="currentPassword" type="password" required>
              <label>New password</label>
              <input value="" name="newPassword" type="password" required>
              <input name="send" value="change_info" class="btnsubmit light" type="submit">
              <a href="/logout" style="display: block; margin: 20px auto; padding-top: 8px;background: #989898;" class="btnsubmit light">Sign out</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(":file").filestyle({ input: false });
    $(":file").filestyle({ badge: true });
    $(":file").filestyle('buttonText', 'Upload');
  });
</script>