<div class="container-fluid">
  <div class="row first-row">
    <div class="col-lg-12">
      <div class="form-container container">
        <div class="register" style="max-width: 500px; margin: 0 auto;">
          <form action="/reset" method="post" accept-charset="utf-8">
            <label for="password">New Password</label>
            <input type="password" name="password" placeholder="New password" autofocus="true" required>
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" placeholder="Confirm password" required>
            <input type="submit" class="btnsubmit light" name="password_update" value="Update Password">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>