<div style="text-align: center; padding: 20px; max-width: 700px; margin: 0 auto; direction: rtl;">
  <div style="text-align: center;">
    <h1>
      <%= title %>
    </h1>
    <p>
      <%= description %>
    </p>
  </div>
  <style>
    h1 {
      margin: 10px 0;
      display: block;
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }

    p {
      font-size: 17px;
      margin: 30px 0;
    }
  </style>
</div>