<div class="container-fluid">
  <div class="row first-row">
    <div class="col-lg-12">
      <div class="form-container container">
        <div class="row"></div>
        <div class="reset" style="display:none;">
        </div>
        <div class="row">
          <div class="register" style="max-width: 500px; margin: 0 auto;">
            <form action="/reset_password" method="post" accept-charset="utf-8">
              <input type="email" id="emailid" name="email" required="" placeholder="Enter your email address">
              <input type="submit" class="btnsubmit light" name="password_recover" value="Recover password">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>